In [1]:
#Importar as bibliotecas necessárias 
import pandas as pd
import numpy as np
import os

In [2]:
#Leitura do arquivo
enade = pd.read_csv("./microdados_enade_2019/2019/3.DADOS/microdados_enade_2019.txt", 
                   sep=';', decimal=',')

In [3]:
enade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dict(enade.dtypes
    )

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('O'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('float64'),
 'NT_FG': dtype('float64'),
 'NT_OBJ_FG': dtype('float64'),
 'NT_DIS_FG': dtype('float64'),
 'NT_FG_D1': dtype('float64'),
 'NT_FG_D1_PT': dtype('float64'),
 'NT_FG_D1_CT': dtype('float64'),
 'NT_FG_D2': dtype('float64'),
 'NT_FG_D2_PT': dtype('float64'),
 'NT_FG_D2_CT': dtype('float64'),
 'NT_CE': dtype('float64'),
 'NT_OBJ_CE': dtype('float64'),
 'NT_DIS_CE': dtype('float64'),
 'NT_CE_D1': dtype('float64'),
 'NT_CE_D2': dtype('float64'),
 'NT_CE_D3': dtype('float64'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('float64'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64')}

In [5]:
#NT_GER
enade.NT_GER.describe()

count    390091.000000
mean         44.076610
std          14.542059
min           0.000000
25%          33.200000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [6]:
enade.NT_GER.isnull()

0         False
1         False
2          True
3         False
4          True
          ...
433925    False
433926    False
433927    False
433928    False
433929    False
Name: NT_GER, Length: 433930, dtype: bool

In [7]:
enade.NT_GER.isnull().sum() / enade.shape[0]

0.10102781554628627

In [8]:
enade.NT_GER.isnull().sum()

43839

In [9]:
enade.shape[0]

433930

In [10]:
enade.loc[
    enade.CO_REGIAO_CURSO == 5
]

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433760,2019,4586,10005,10022,19,5001220,1,5218003,52,5,...,6.0,5.0,5.0,2.0,4.0,6.0,5.0,6.0,6.0,5.0
433761,2019,4586,10005,10022,19,5001220,1,5218003,52,5,...,5.0,4.0,3.0,2.0,2.0,4.0,3.0,4.0,3.0,4.0
433762,2019,4586,10005,10022,19,5001220,1,5218003,52,5,...,6.0,6.0,5.0,5.0,5.0,5.0,6.0,6.0,6.0,6.0
433763,2019,4586,10005,10022,19,5001220,1,5218003,52,5,...,5.0,5.0,5.0,5.0,5.0,5.0,1.0,1.0,5.0,1.0
433764,2019,4586,10005,10022,19,5001220,1,5218003,52,5,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0

In [11]:
#Acessando dados da região nordeste
enade.loc[
    enade.CO_REGIAO_CURSO == 2
]

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
1294,2019,3,10002,10028,5710,294,1,2806701,28,2,...,6.0,6.0,4.0,3.0,4.0,5.0,6.0,4.0,6.0,4.0
1295,2019,3,10002,10028,5710,294,1,2806701,28,2,...,5.0,3.0,4.0,4.0,4.0,4.0,2.0,1.0,3.0,2.0
1296,2019,3,10002,10028,5710,294,1,2806701,28,2,...,6.0,5.0,4.0,4.0,4.0,3.0,3.0,4.0,3.0,3.0
1297,2019,3,10002,10028,5710,294,1,2806701,28,2,...,6.0,5.0,6.0,5.0,6.0,6.0,8.0,4.0,6.0,6.0
1298,2019,3,10002,10028,5710,294,1,2806701,28,2,...,5.0,3.0,4.0,5.0,5.0,5.0,3.0,5.0,5.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433364,2019,19337,10005,10022,6208,5001186,1,2307650,23,2,...,4.0,4.0,5.0,3.0,2.0,3.0,2.0,3.0,2.0,4.0
433365,2019,19337,10005,10022,6208,5001186,1,2307650,23,2,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433366,2019,19337,10005,10022,6208,5001186,1,2307650,23,2,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433367,2019,19337,10005,10022,6208,5001186,1,2307650,23,2,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
433368,2019,19337,10005,10022,6208,5001186,1,2307650,23,2,...,6.0,1.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0

In [13]:
#Acessando dados da região nordeste
enade.loc[
    enade.CO_REGIAO_CURSO == 2
].NT_GER.describe()

count    82944.000000
mean        43.788555
std         14.622670
min          0.000000
25%         32.800000
50%         43.400000
75%         54.600000
max         91.600000
Name: NT_GER, dtype: float64

In [14]:
enade.loc[
    enade.NT_GER > 0
].NT_GER.describe()

count    389730.000000
mean         44.117437
std          14.486758
min           0.300000
25%          33.300000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [16]:
#Filtrando apenas alunos entre 20 e 50 anos
enade.loc[
    (enade.NU_IDADE >= 20) & (enade.NU_IDADE <= 50) 
].NT_GER.describe()

count    385913.000000
mean         44.149504
std          14.528106
min           0.000000
25%          33.300000
50%          43.900000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [17]:
enade.TP_SEXO.value_counts()

F    233279
M    200651
Name: TP_SEXO, dtype: int64

In [18]:
enade.TP_SEXO.value_counts() / enade.shape[0]

F    0.537596
M    0.462404
Name: TP_SEXO, dtype: float64

In [22]:
enade[['NT_GER','NT_FG', 'NT_CE']].describe()

              NT_GER          NT_FG          NT_CE
count  390091.000000  390091.000000  390091.000000
mean       44.076610      39.837949      45.472874
std        14.542059      16.241178      16.641654
min         0.000000       0.000000       0.000000
25%        33.200000      28.500000      32.900000
50%        43.800000      39.300000      45.200000
75%        54.800000      51.300000      57.800000
max        93.000000      97.800000     100.000000

In [24]:
enade.groupby('CO_REGIAO_CURSO').agg({
    "NT_GER": "mean",
    "NT_FG" : "mean",
    "NT_CE" : "mean"
 })

                    NT_GER      NT_FG      NT_CE
CO_REGIAO_CURSO
1                40.282753  37.119037  41.320522
2                43.788555  40.057649  45.015455
3                44.016319  40.144793  45.290297
4                45.747187  40.082428  47.618845
5                44.604609  39.180022  46.396032

# Transformação

In [28]:
#Criando uma nova variável substituindo os códigos pelos Privado
enade['DESC_PUBLICA'] = ""
enade.loc[enade.CO_CATEGAD.isin([118,120,121,10005,10006,10007,10008,10009, 17634]),"DESC_PUBLICA"] = "Privado"

In [30]:
#Criando uma nova variável substituindo os códigos pelos Público
enade.loc[
    enade.CO_CATEGAD.isin([93,115,116,10001,10002,10003]), "DESC_PUBLICA"] = "Publica"

In [31]:
enade.DESC_PUBLICA.value_counts()

Privado    332879
Publica    101051
Name: DESC_PUBLICA, dtype: int64

In [50]:
#Modificamos os atributos da variável CO_MODALIDADE com replace e atribuímos a variável CO_MODALIDADE
#enade['CO_MODALIDADE'] A COLCHETE É UMA FORMA DE ACESSARMOS A COLUNA
enade['CO_MODALIDADE'] = enade.CO_MODALIDADE.replace({
    0 : 'EaD',
    1 : 'Presencial'
})

In [49]:
enade.CO_MODALIDADE.value_counts()

Presencial    410542
EaD            23388
Name: CO_MODALIDADE, dtype: int64

In [52]:
enade['CO_REGIAO_CURSO'] = enade.CO_REGIAO_CURSO.replace({
    1 : 'Norte',
    2 : 'Nordeste',
    3 : 'Sudeste',
    4 : 'Sul',
    5 : 'Centro-Oeste'
})

In [54]:
enade.CO_REGIAO_CURSO.value_counts() / enade.shape[0]

Sudeste         0.466677
Nordeste        0.211421
Centro-Oeste    0.176959
Sul             0.078796
Norte           0.066147
Name: CO_REGIAO_CURSO, dtype: float64

In [56]:
#pd NA atribui valor Missing
enade['DESC_COR'] = enade.QE_I02.replace({
    "A" : 'Branca',
    "B" : 'Preta',
    "C" : 'Amarela',
    "D" : 'Parda',
    "E" : 'índigena',
    "F" : pd.NA,
    " " : pd.NA
})

In [58]:
enade.DESC_COR.value_counts()

Branca      220386
Parda       135770
Preta        32869
Amarela      10093
índigena      1300
Name: DESC_COR, dtype: int64

# 1 Qual é a nota geral dos alunos da região nordeste?

In [61]:
enade.loc[
    enade.CO_REGIAO_CURSO == "Nordeste", "NT_GER"
].mean()

43.78855492862657

In [62]:
enade.loc[
    enade.CO_REGIAO_CURSO == "Sudeste", "NT_GER"
].mean()

44.01631940789661

In [64]:
enade.loc[
    (enade.DESC_COR == "Branca") & (enade.CO_REGIAO_CURSO == "Nordeste"), "NT_GER"
].mean()

45.86629620056862

In [65]:
enade.loc[
    (enade.DESC_COR == "Branca") & (enade.CO_REGIAO_CURSO == "Sudeste"), "NT_GER"
].mean()

45.315529555058376